@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generali */

body {
    font-family: 'Open Sans', sans-serif
}

.far {
    font-size: 20px;
}

/* button */

.btn {
    color: white;
    background-color: #0061ff;
}

/* centratura */

.centratura {
    width: 85%;
    margin: 0 auto;
}

/* Intestazione */

header {
    width: 100%;
    padding: 15px 20px;
}

header .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.text {
    font-size: 16px;
}

.text-left {
    float: left;
    width: 50%;
    text-align: left;
}

.text-left img {
    margin-right: 15px;
}

.text-right {
    float: right;
    width: 50%;
    text-align: right;
}

.text ul {
    list-style: none;
}

.text ul li {
    display: inline-block;
}

.text ul li a {
    text-decoration: none;
    color: black;
    margin: 0px 20px;
    vertical-align: super;
    font-weight: 600;
}

#btn-header {
    padding: 5px 20px;
    font-size: 13px;
    color: white;
}

/* Jumbotron */

#jumbotron {
    background-color: #b4d0e7; 
    width: 100%;
    height: 815px;
}

#jumbotron .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#title {
    width: 100%;
    padding: 80px 0 60px 0;
}

#title h1 {
    font-size: 95px;
    line-height: 108px;
}

/* colonna sinistra */

.left-column {
    float: left;
    width: 30%;
    font-weight: 600;
}

.left-column p {
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 26px;
}

.left-column a {
    text-decoration: none;
}

.left-column div{
    margin: 20px 0 30px 0;
}

.btn.btn-jumbo {
    padding: 8px 30px;
    font-size: 16px;
    line-height: 26px;
}

.arrow-style {
    color: black;
    font-size: 40px;
}

/* colonna destra */

.right-column {
    float: right;
    width: 60%;
}

.right-column img {
    width: 100%;
}

/* Corpo centrale */

.centratura_main {
    width: 70%;
    margin: 0 auto;
}

.piano_tariffario {
    width: 100%;
}

.piano_tariffario .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.piano_tariffario h2 {
    font-size: 50px;
    margin-top: 230px;
    margin-bottom: 50px;
}

.piano_tariffario form {
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.piano_tariffario h3 {
    font-size: 37px;
}

.piano_tariffario span {
    display: block;
    margin: 25px 0;
}

.piano_tariffario .span_margin_bottom {
    margin-bottom: 60px;
}

.seconda_sezione h4 {
    padding: 20px 0 10px 0;
    font-size: 22px;
}

.p_weight {
    font-weight: 600;
    padding: 40px 0;
}

.p_weight a {
    color: #0061ff;
}

.btn.btn-piano-tariffario {
    padding: 8px 50px;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
}

.grey {
    color: lightslategrey;
    margin-bottom: 50px;
}

.style_hr {
    width: 20%;
    border: solid 1px #dddddd;
}

.colonna {
    float: left;
    width: calc(100% / 3 - 40px);
    border: solid 1px #dddddd;
    padding-bottom: 200px;
}

.colonna.sx {
    padding-bottom: 273px;
}

.colonna.centrale {
    margin: 0 60px;
}

.terza_sezione h4 {
    padding: 50px 0 10px 0;
    font-size: 20px;
}

.terza_sezione p {
    margin: 25px 0 0;
    font-weight: 600;
    font-size: 18px;
}

.fa-check::before {
    color:#0061ff;
}

.enterprise {
    margin-top: 50px;
    border: solid 1px #dddddd;
    padding-bottom: 25px;
}

.enterprise .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.centratura_enterprise {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.enterprise_left_column {
    float: left;
    width: 70%;
}

.enterprise_right_column {
    float: left;
    width: 30%;
    text-align: right;
    padding: 8px 0;
}

.enterprise_left_column h4 {
    padding: 20px 0;
}

.enterprise_left_column p {
    padding-top: 10px;
}

.btn.btn-enterprise {
    padding: 8px 50px;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
}

.centratura_text_column {
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
}

.fa-user::before {
    margin: 0 5px 0 0;
}

.fa-building::before {
    margin: 0 5px 0 0;
}

.icon {
    text-align: center;
    border-bottom: solid 1px #dddddd;
    padding: 15px 0;
}

.partner {
    margin: 200px 0;
    /* debug */
    background-color: red;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.partner .centratura_main {
    width: 70%;
    margin: 0 auto;
    /* debug */
    background-color: yellow;
    height: 600px;
    
}

.partner .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#left_column_partner {
    float: left;
    width: 50%;
    /* debug */
    background-color: green;
    height: 500px;
}

#right_column_partner {
    float: right;
    width: 45%;
    /* debug */
    background-color: green;
    height: 500px;
}